{% extends "base.html" %}

{% block content %}
<h3>{{title}}</h3>

<h4>
{{artist}}
{% if artist[2] or artist[3] or artist[4] %}
    Location:
{% endif %}
{% if artist[2] %}
    {{artist[2]}}
{% endif %}
{% if artist[3] %}
    {{artist[3]}}
{% endif %}
{% if artist[4] %}
    {{artist[4]}}
{% endif %}
</h4>
<h4>
{% if artist[5] %}
    Date of Birth: {{artist[5]}}
{% endif %}
</h4>
<h4>
{% if artist[6] %}
    Date of Death: {{artist[6]}}
{% endif %}
</h4>


{% if release_columns %}
    <b>Releases </b>
    {{ macros.display_all_as_table(releases, release_columns, release_references, yes_marker=True) }}
{% else %}
    <h4>No saved releases by artist</h4>
{% endif %}
&nbsp <div> </div>

{% if song_columns %}
    <b>Songs</b>
    {{ macros.display_all_as_table(songs, song_columns, song_references, yes_marker=True) }}
{% else %}
    <h4>No saved songs by artist</h4>
{% endif %}

{% endblock content %}