{% extends "base.html" %}

{% block content %}
<h2>{{ test_name }} {{ title }}</h2>
<section>
{% if description %}
    <h4>{{description}}</h4>
    &nbsp
{% endif %}
</section>
&nbsp
<ul>


    <section>
    {% if children %}
        <b>Child Genres</b>
        {% for genre in children %}
            <li><a href="{{ url_for('genre', name=genre) }}">{{genre}}</a></li>
        {% endfor %}
    {% else %}
        <b>No Child Genres</b>
    {% endif %}
    </section>
    &nbsp

    <section>
    {% if parents %}
        <b>Parent Genres</b>
        {% for genre in parents %}
            <li><a href="{{ url_for('genre', name=genre) }}">{{genre}}</a></li>
        {% endfor %}
    {% else %}
        <b>No Parent Genres</b>
    {% endif %}
    </section>
    &nbsp

    <section>
    {% if subgenres %}
        <b>All Subgenres</b>
        {% for genre in subgenres %}
            <li><a href="{{ url_for('genre', name=genre) }}">{{genre}}</a></li>
        {% endfor %}
    {% else %}
        <b>No Subgenres</b>
    {% endif %}
    </section>
    &nbsp

    <section>
    {% if songs %}
        <b>Songs</b>
        {% for song in songs %}
            <li><a href="{{ url_for('song', title=song) }}">{{song}}</a></li>
        {% endfor %}
    {% else %}
        <b>No Songs in Genre</b>
    {% endif %}
    </section>
    &nbsp

    <section>
    {% if releases %}
        <b>Releases</b>
        {% for release in releases %}
            <li><a href="{{ url_for('release', title=release) }}">{{release}}</a></li>
        {% endfor %}
    {% else %}
        <b>No Releases in Genre</b>
    {% endif %}
    </section>

    <!-- <section> -->
    <!-- {% if albums %} -->
        <!-- <b>Songs</b> -->
        <!-- {% for song in songs %} -->
            <!-- <li><a href="{{ url_for('song', title=song) }}">{{song}}</a></li> -->
        <!-- {% endfor %} -->
    <!-- {% else %} -->
        <!-- <b>No albums in genre</b> -->
    <!-- {% endif %} -->
    <!-- </section> -->

</ul>
{% endblock content %}