{% extends "base.html" %}

{% block content %}
<h2>{{ test_name }} {{ title }}</h2>
<ul>
    <div>
    <section>
    <b>Child Genres</b>
    {% for genre in children %}
    <li>
        <a href="{{ url_for('genre', name=genre) }}">{{genre}}</a>
    </li>
    {% endfor %}
    </section>
    </div>

    <div>
    <section>
    <b>Parent Genres</b>
    {% for genre in parents %}
    <li>
        <a href="{{ url_for('genre', name=genre) }}">{{genre}}</a>
    </li>
    {% endfor %}
    </section>
    </div>
</ul>
{% endblock content %}