{# templates/macros.html #}

{% macro display_val(value) %}
    {% if value != None %}
        {{value}}
    {% endif %}
{% endmacro %}

{% macro display_all_as_table(entity, columns) %}
<table>
    <tr>
        {% for col in columns %}
        <th>col</th>
        {% endfor %}
    </tr>
    {% for row in entity %}
        <tr>
            {% for col in columns %}
                <td>{{ display_val(row[col]) }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}

{% macro nav_link(menu_item) %}
    {% if menu_item == "profile" %}
        <a href="{{ url_for('profile', username=session['username']) }}{{ mode }}">{{
        session['username']|upper}}</a>
    {% else %}
        <a href="{{ url_for(menu_item) }}{{ mode }}">{{ menu_item|upper }}</a>
    {% endif %}

    {% if request.endpoint == menu_item %}
        ←
    {% endif %}
{% endmacro %}