{# templates/macros.html #}

<!-- https://shubhamjain.co/2018/09/17/capitalizing-first-letter-in-jinja/ -->
{% macro capitalize(text) %}{{ text[0]|upper }}{{ text[1:] }}{% endmacro %}

{% macro display_val(value) %}
    {% if value == None %}
        -
    {% elif value == True %}
        ❤️
    {% elif value == False %}
        ♡️
    {% elif value is string %}
        {{capitalize(value)}}
    {% else %}
        {{value}}
    {% endif %}
{% endmacro %}

{% macro display_all_as_table(entity, columns) %}
<table>
    <tr>
        {% for col in columns %}
            <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in entity %}
        <tr>
            {% for col in columns %}
                <td>{{ display_val(row[col]) }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endmacro %}

{% macro nav_link(menu_item) %}
    {% if menu_item == "profile" %}
        <a href="{{ url_for('profile', username=session['username']) }}">{{
        capitalize(session['username'])}}</a>
    {% else %}
        <a href="{{ url_for(menu_item) }}">{{ capitalize(menu_item) }}</a>
    {% endif %}

    {% if request.endpoint == menu_item %}
        ←
    {% endif %}
{% endmacro %}