{% extends "base.html" %}
{% import "macros.html" as macros %}

{% set columns =
    ["song","year","main_artists","featured_artists","other_artists","genres","love","stars"]
%}

{% block title %}{{user}}'s Music{% endblock title %}

{% block content %}
<h2>{{user}}'s Music</h2>
<table>
    <tr>
        <th>song</th>
        <th>year</th>
        <th>main_artists</th>
        <th>featured_artists</th>
        <th>other_artists</th>
        <th>genres</th>
        <th>love</th>
        <th>stars</th>
    </tr>
    { macros.display_all_as_table(song, columns) }
</table>
{% endblock content %}