{% extends "base.html" %}
{% import "macros.html" as macros %}

{% set columns =
    ["song","year","main_artists","featured_artists","other_artists","genres","love","stars"]
%}

{% block title %}{{user}}'s Music{% endblock title %}

{% block content %}
<h2>{{user}}'s Music</h2>
<table>
    <tr>
        <th>song</th>
        <th>year</th>
        <th>main_artists</th>
        <th>featured_artists</th>
        <th>other_artists</th>
        <th>genres</th>
        <th>love</th>
        <th>stars</th>
    </tr>
    {% for song in songs|sort(attribute="stars")%}
        <tr>
            <td>{{macros.att_display(song[columns[0]])}}</td>
            <td>{{ macros.att_display(song.year) }}</td>
            <td>{{ macros.att_display(song.main_artists) }}</td>
            <td>{{ macros.att_display(song.featured_artists) }}</td>
            <td>{{ macros.att_display(song.other_artists) }}</td>
            <td>{{song.genres}}</td>
            <td>{{song.love}}</td>
            <td>{{song.stars}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}