{% extends "base.html" %}

{% block title %}{{user}}'s Music{% endblock title %}


{% block content %}

{% if columns %}
    <h3>{{macros.capitalize(user)}}'s Music</h3>
    {{ macros.display_all_as_table(rows, columns) }}
{% endif %}

<div>
<body><br><b>Which of your music would you like to see?</b></body>
<form action="/profile/{{username}}" method="POST">
    <input type="radio" id="songs" name="selection" value="songs">
    <label for="songs">Songs</label><br>
    <input type="radio" id="albums" name="selection" value="albums">
    <label for="albums">Albums</label><br>
    <input type="radio" id="playlists" name="selection" value="playlists">
    <label for="playlists">Playlists</label><br>
    <input type="submit">
</form>
</div>

{% endblock content %}