{% extends "base.html" %}

{% block content %}
<h2>{{user}}'s Music</h2>
<table>
    <tr>
        <th>song</th>
        <th>year</th>
        <th>main_artists</th>
        <th>featured_artists</th>
        <th>other_artists</th>
        <th>genres</th>
        <th>love</th>
        <th>stars</th>
    </tr>
    {% for song in songs|sort(attribute="stars")%}
        <tr>
        {% for value in song.values() %}
            {% if value == None %}
            	<td></td>
            {% else %}
                 <td>{{value}}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock content %}