{% extends "base.html" %}

{% block content %}

<h3>{{title}}</h3>
{{ macros.display_all_as_table(info, info_columns, info_references) }}
&nbsp

{% if tracks %}
    {{ macros.display_all_as_table(tracks, track_columns, track_references) }}
{% else %}
    <h3>No tracks logged for this release</h3>
{% endif %}

<body>
<div>
{% if tracks_needed > 0 %}
    Missing {{tracks_needed}} tracks from this release
{% else %}
    All tracks logged in database
{% endif %}
</div>
</body>

{% endblock content %}
