{% extends "base.html" %}


{% block content %}

<h2>{{title}}</h2>


<h3>Traits</h3>
{{ macros.display_all_as_table(info, info_columns, info_references) }}
&nbsp

{% if files %}
    <h3>Files</h3>
    {{ macros.display_all_as_table(files, file_columns, file_references) }}
{% else %}
    <h4>No Files for this Song</h4>
{% endif %}

{% if lyrics %}
    {% if lyrics.lyric_type %}
        <h3>{{lyrics.lyric_type}}</h3>
    {% else %}
        <h3>Lyrics</h3>
    {% endif %}
    <p>{{lyrics.text}}</p>
{% else %}
    <h4>No Lyrics for this Song</h4>
{% endif %}

{% endblock content %}
