{% extends "base.html" %}


{% block content %}

<h2>{{title}}</h2>


<h3>Traits</h3>
{{ macros.display_all_as_table(info, info_columns, info_references) }}
&nbsp

{% if files %}
    <h3>Files</h3>
    {{ macros.display_all_as_table(files, file_columns, file_references) }}
    &nbsp
{% else %}
    <h3>No Files for this Song</h3>
{% endif %}

{% if lyrics %}
    <h3>
    {% if lyrics.lyric_type %}
        {{macros.capitalize(lyrics.lyric_type)}}
    {% endif %}
    Lyrics
    </h3>
    <p>{{lyrics.lyric_text}}</p>
{% else %}
    <h3>Lyrics for this Song</h3>
{% endif %}

{% endblock content %}
